<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.caikeplan"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="25" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="com.example.CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
                android:name=".activity.LoadingAdvertiseActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.caikeplan.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <service android:name="com.example.base.DownLoadService"/>

        <activity android:name=".activity.LotteryActivity"/>
        <activity android:name=".activity.DataActivity"/>
        <activity android:name=".activity.ProgramActivity"/>
        <activity android:name=".activity.CopyPlan"/>
        <activity android:name=".activity.PlanProgram"/>
        <activity android:name=".activity.RankActivity"/>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.BanPhoneActivity"/>
        <activity android:name=".activity.ForgetPswActivity" />
        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.AddUserActivity" />
        <activity android:name=".activity.ManagerActivity" />
        <activity android:name=".activity.ManagerPersonActivity" />
        <activity android:name="com.example.NextPage.LotteryNextActitivty" />
        <activity android:name=".activity.PersonResetPswActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.BannerLinkActivity"/>
        <activity android:name="com.example.personal.PersonalAbout" />
        <activity android:name="com.example.personal.PersonalCopy"/>
        <activity android:name="com.example.collect.CollectActivity"/>
        <activity android:name=".activity.PersonalDisclaimer" />
        <activity android:name=".activity.PersonalConnect" />
        <activity android:name=".activity.LinkActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.RechargeActivity" />

        <!-- 聊天界面 -->
        <activity
            android:name="com.meiqia.meiqiasdk.activity.MQConversationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MQTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 图片查看界面 -->
        <activity
            android:name="com.meiqia.meiqiasdk.activity.MQPhotoPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MQTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 图片选择界面 -->
        <activity
            android:name="com.meiqia.meiqiasdk.activity.MQPhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MQTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 图片选择预览界面 -->
        <activity
            android:name="com.meiqia.meiqiasdk.activity.MQPhotoPickerPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MQTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- WebView 界面 -->
        <activity
            android:name=".activity.MQWebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MQTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 询前表单 -->
        <activity
            android:name=".activity.MQInquiryFormActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MQTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.MQCollectInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MQTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <service android:name="com.meiqia.core.MeiQiaService" />
        <meta-data android:value="59a62c284ad1564890000d0e" android:name="UMENG_APPKEY"/>
        <meta-data android:value="counttest" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
